.App {
  max-width: 760px;
  margin: 0 auto 40px auto;
}

.App .new-btn {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  outline-offset: 4px;
  cursor: pointer;
  font-size: 1em;
}
.App .btn-front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.App .new-btn:active .btn-front {
  transform: translateY(-2px);
}

.App .card-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.App .turns {
  color: red;
}
.App .credit {
  font-family: Verdana, sans-serif;
  margin-top: 40px;
  text-decoration: none;
  color: silver;
  font-size: 0.4em;
}
.App .credit a {
  text-decoration: none;
  color: #93c7d7;
}
